
#modelid_filter_choice_selector {visibility: hidden}

h2 { font-size: 18px; margin-bottom: 5px; }
h3 { font-size: 16px; font-weight: normal; font-style: italic; margin-top: 0; }

.details .column-left {float: left; width: 33%; }
.details .column-right {float: right; width: 33%; }
.details .column-center {display: inline-block; width: 33%; }
.details .church { font-size: 14px; margin-bottom: 20px; }
table { padding-left: 10px; border-spacing: 0; }
th, td { text-align: right; padding: 0 10px; }
tr:nth-child(even) { background: #ddd; }
tr:nth-child(odd) { background: #fff; }
