<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Legacy Church Project</title>
        {{ bokeh_css }}
        {{ bokeh_js}}
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.2/URI.min.js"></script>
        <style>
            {% include 'style.css' %}
        </style>
    </head>

    <body>
        <div class="plot">
            {{ plot_div }}
        </div>
    {{ plot_script }}
    <script type="text/javascript">
        function reloadWithParams(new_params, values) {
			var uri = new URI(window.location.href);
			params = uri.search(true);
			if (new_params.constructor === Array) {
				$.each(new_params, function(i, p) {
					if (values[i] === null)
						delete params[p];
					else params[p] = values[i];
				});
			}
			else params[new_params] = values;
			window.location.href = uri.search(params);
        }
    </script>
    </body>

</html>
