{% extends "root.html" %}

{% block head %}
{{ super() }}
<script src="static/vendor/bokeh/bokeh.min.js" type="text/javascript"></script>
<script src="static/vendor/bokeh/bokeh-widgets.min.js" type="text/javascript"></script>
<link href="static/vendor/bokeh/bokeh.min.css" rel="stylesheet" type="text/css">
<link href="static/vendor/bokeh/bokeh-widgets.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
        <div class="settings">
            <!-- Icon used under Creative Commons Attribution 3.0 License, (c) Peleg Tabib
                https://www.iconfinder.com/icons/196912/fez_gear_preferences_settings_icon#size=128 -->
            <a href="/settings"><img src="static/settings-icon.png"></img> Settings</a>
        </div>
        <div class="plot">
            <h2>Data Viewer</h2>
            {{ plot_div|safe }}
        </div>

        <div class="details">
            <h2>Details of Selected Objects</h2>
            <h3></h3>
            <div class="column-left"></div>
            <div class="column-center"></div>
            <div class="column-right"></div>
        </div>
    {{ plot_script|safe }}
{% endblock %}
