<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Legacy Church Project</title>
        {{ bokeh_css }}
        {{ bokeh_js}}
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.2/URI.min.js"></script>
        <script src="legacy/static/legacy.js" type="text/javascript"></script>
        <link href="legacy/static/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="plot">
            <h2>Data Viewer</h2>
            {{ plot_div }}
        </div>

        <div class="details">
            <h2>Details of Selected Objects</h2>
            <h3></h3>
            <div class="column-left"></div>
            <div class="column-center"></div>
            <div class="column-right"></div>
        </div>
    {{ plot_script }}
    </body>

</html>
