{% extends "root.html" %}

{% block title %}
    Settings
{% endblock %}

{% block content %}
<h1>Visibility Settings</h1>
<form action="{{ url_for('/', filename='settings.json') }}" method="post">
{% for label, group in properties.items() %}
    <h2 class="category">{{ label }}</h2>
    {% for key, (property, visible) in group.items() %}
        <div>
        <label for="{{key}}">{{property}}</label>
        <input name="{{key}}" type="checkbox" id="{{key}}" {% if visible %}checked{% endif %}/>
        </div>
    {% endfor %}
{% endfor %}
<input type="submit" value="Save">
</form>

{% endblock %}
